{% extends "layout.html" %}
{% block body %}
<div class="page-header">
    <div class="jumbotron text-white">
         <h1 class="display-3 font-weight-bold text-white mb-2">Create Category for {{product.title}}</h1>
         <p class="lead my-3">Fill out the form.</p>
         <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('admin.admin_dashboard') }}">Dashboard</a>
     </div>
  </div>
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.category.label(class="form-control-label") }}
                {% if form.category.errors %}
                    {{ form.category(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.category.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.category(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock %}